page-news {
    .judul-berita{
      font-size: 0.9em;
      font-weight: bold;
      white-space: normal !important;
      text-align: left;
      margin-bottom: 5px;
      line-height: 20px;
    }
    .cuplik-berita{
      font-size: 0.75em;
      white-space: normal !important;
      text-align: left;
    }
}
